*venv
*.ini
databases
*.venv
*.vscode
*.pytest_cache
*__pycache__/
*logs

# macOS system files
.DS_Store

# Config files with credentials
backend/config.ini

# pycache
*.pyc

# dependencies
frontend/node_modules
/.pnp*
.pnp.js*

# testing
coverage*

# production
build*

.env.local*
.env.development.local*
.env.test.local*
.env.production.local*
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
scripts/mysql_preprovision.sh
